@model PraiApp.Models.PraiaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PraiaModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPraia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotLimpezaPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotLimpezaPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotEstruturaPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotEstruturaPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotSinalizacaoPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotSinalizacaoPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotMonitoramentoPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotMonitoramentoPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotPoluicaoPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotPoluicaoPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotConservacaoPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotConservacaoPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPraia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEndereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEndereco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPraia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
