@model PraiApp.Models.AvaliacaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvaliacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAvaliacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimpezaAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimpezaAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstruturaAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstruturaAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinalizacaoAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinalizacaoAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitoramentoAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitoramentoAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoluicaoAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoluicaoAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConservacaoAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConservacaoAvaliacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPraia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPraia)
        </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAvaliacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
