@model PraiApp.Models.OrganizacaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrganizacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrganizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOrganizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOrganizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeOrganizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CnpjOrganizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CnpjOrganizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEndereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEndereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdResponsavel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdResponsavel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
